{% extends "base.html" %}
{% block homeactive %}active{% endblock homeactive %}
{% block body %}
<div class="container-fluid mx-0 px-0">
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <img src="https://i.postimg.cc/DwKsZSHg/movie-theater.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="https://i.postimg.cc/tRwcDnry/Netflix-background-860c8ece6b34fb4f43af02255ca8f225.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="https://i.postimg.cc/2877RdXY/LIN-220523-707100-Cine-World-Screens-0009-b1d4.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="container my-4">
   <div class="row"> 
    <div class="col-md-4"> 
      <div class="text-center">
        <img src="https://i.postimg.cc/YCjtgHVs/wp4016036.jpg" class="rounded" alt="loading">
        <div class="my-4">
          <h5>Your Go-To Guide for OTT Movie Reviews</h5>
        </div>
      <p> We're your trusted source for unbiased and insightful reviews of the latest and greatest movies streaming on your favorite OTT platforms. Discover hidden gems, avoid duds, and make informed decisions about what to watch next.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="text-center">
        <img src="https://i.postimg.cc/8PNRTy35/2d949fff-c29c-4772-9400-b7fd723c5cab.jpg" class="rounded" alt="loading">
        <div class="my-4">
          <h5>Stay Updated with the Latest Reviews:</h5>
        </div>
        <p>The reviews are curated by watching and analyzing the newest releases on Netflix, Amazon Prime Video, Disney+, and more. Get the latest reviews delivered straight to your screen, so you're always ahead of the curve.</p>
    </div>
  </div>
    <div class="col-md-4">
      <div class="text-center">
        <img src="https://i.postimg.cc/bNYZCddC/netflix-com-propaganda.jpg" class="rounded" alt="loading">
        <div class="my-4">
          <h5>Explore Reviews by Genre, Platform, and Rating:</h5>
        </div>
        <p>Whether you're in the mood for a thrilling action flick, a heartwarming drama, or a mind-bending sci-fi epic, we've got you covered. Filter reviews by genre, platform, or rating to find the perfect movie for your taste.</p>
    </div>
   </div>
  </div>
</div>
{% endblock body %}

