{% extends "base.html" %}
{% block homeactive %}avtive{% endblock homeactive %}


{% block css %}
<style>
  .container{
    min-height: 100vh
  }
  
  </style>
{% endblock css %}
{% block body %}
<div class="container">


<h1 class="my-3"> Search Results for {{query}}</h1>
{% for blog in blogs %}

<div class="card bg-light mb-3" style="max-width: 1000px;">
  <div class="row no-gutters">
    <div class="col-md-2">
      <img src="{{blog.poster}}" class="card-img" alt="..." >
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><a href="/blogpost/{{blog.slug}}" class= "text-dark"> {{blog.title}}</a></h5>
        <p class="card-text">{{blog.short_desc}}</p>
        <a href="/blogpost/{{blog.slug}}" class= "text-dark"> <button class="btn btn-outline-primary btn-sm"> read more..</button></a>
      </div>
    </div>
  </div>
</div>


{% endfor %}


</div>
{% endblock body %}
